/* * {
    padding: 0px;
    margin: 0px;
    font-family: 'Gideon Roman', cursive;
} */
html {
  width: min(100%, 950%);
}

#navigation-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

#navigation-bar a {
  text-decoration: none;
  color: black;
}

/* .elements-nav {
    text-align: center;
    padding: 20px;
    text-decoration: none;
    color: black;
    margin: 30px;
    border-right: 1px solid black;
} */

/* .elements-nav:hover {
    font-size: 15px;
    color: #6ba8b3;

    
} */

#line-color {
  width: 100vw;
  height: 5px;
  background-color: #660022;
}
#title-store {
  color: #660022;
  /* text-shadow: 0 0 20px gray; */
  text-align: center;
  margin: 10px;
  padding: 10px;
}
main {

  display: flex;
  flex-direction: column; /*para que los elementos se acomoden abajo uno detras de otro*/
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5px;
}
section {
  display: flex;
  width: 100vw;
  height: 500px;
}
.image-slider {
  width: 0px;
  flex-grow: 1; /*hacemos que las imganes ocupen el section*/
  object-fit: cover; /*hacemos que ocupe todo el espacio*/
  opacity: 0.8;
  transition: 0.5s ease;
}
.image-slider:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

#about-store {
  color: black;
  background-color: #ced1c0;
  width: 100%;
  margin-top: 15px;
  height: 400px;
  padding: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 20px;
}
.contenedor-about {
  display: flex;
  flex-direction: row;
}
.text-container {
  margin: auto;
  width: 50%;
  text-align: center;
  justify-content: center;
  margin-right: 10px;
  padding: 30px;
}

#title-vendedor {
  font-size: 30px;
  margin-top: 3px;
  margin-bottom: 3px;
}
#text-vendedor {
  font-size: 13px;
  margin-top: 5px;
}
.señor-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#image-vendedro {
  width: 100%;
  height: 300px;
  border-radius: 10px;
}

#store-ubication {
    background-color: #bad1c9;
    width: 100vw;
    margin-top: 10px;
    height: 582px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    /* Alinea los elementos del contenedor en la parte superior */
    justify-content: center; /* Centra horizontalmente los elementos del contenedor */
  }
  .store-map {
    width: 30%;
  }

  #map {
    background-color: #660022;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
  }

.image-container {
  text-align: center;
  padding: 10px;
}

.imagenes-ubi {
  height: 200px;
  width: 100%;
  margin: auto; /* Espacio entre las imágenes */
  border-radius: 20px;
}

a {
  text-decoration: none;
  color: white;
  margin-top: 10px;
}
/* a:hover{
    color: #6ba8b3;
    text-shadow: 0 0 20px white;
} */
#left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: auto;
}
#information {
  text-align: center;
  margin: auto;
  /* /* padding: auto; */
}

#titulo-abajo {
  margin-bottom: 30px;
  font-size: 30px;
}
#text {
  font-size: 23px;
}
.slider {
  width: 300px;
  position: relative;
  display: flex;
  overflow: scroll;
  margin-left: 40px;
  border-radius: 5px;
}
.slider img {
  width: 100%;
  left: 0px;
  position: sticky;
  object-fit: cover;
  border-radius: 5px;
  scroll-snap-align: center;
}
#redes {
  width: 100%;
  height: 70px;
  margin-top: 100px;
}

.imagen-icon:hover {
  box-shadow: 0 0 20px rgb(146, 124, 124);
  border-radius: 19px;
}
.imagen-icon {
  height: 30%;
}


