/* * {
    padding: 0px;
    margin: 0px;
    
} */
/* 
.parent {
    display: flex;
    height: 72px;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: #ebe5ce;

} */



#navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  #navigation-bar a {
    text-decoration: none;
    color: black;
  }


#line-color {
    width: 100vw;
    height: 5px;
    background-color: #660022;

}

#title-box {
    margin-top: 30px;
    /* border-bottom: 2px solid black; */
    margin-bottom: 15px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2{
    margin: 0 auto;
}

div>img {
    border-radius: 8px;
    width: 100%;
    height: auto;
    box-shadow: 0 0 20px gray;

}

/* esto es para que las images se pongan en columnas y sea responsive*/
.container-images {
    padding: 50px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }

.image-container {
    position: relative;
}
.image-with-overlay {
    width: 100%; /* Ajustar el ancho al 100% del contenedor */
    height: 100%; /* Ajustar la altura al 100% del contenedor */
    object-fit: cover; /* Ajustar la imagen dentro del contenedor manteniendo su relación de aspecto */
    border-radius: 8px; /* Opcional: puedes mantener el borde redondeado */
  }

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    /* Color del overlay */
    opacity: 0;
    /* Overlay oculto inicialmente */
    transition: opacity 0.3s ease;
    /* Transición para suavizar el efecto */
}
.image-container:hover .overlay {
    opacity: 1; /* Mostrar el overlay cuando se hace hover en la imagen */
  }
.overlay-title{
    color: white;
    font-size: 20px;
}
.overlay-text{
    color: white;
    font-size: 15px;
    padding: 30px;/*para centrar el texto*/
    
}
.overlay-link{
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
    color: white;
    border: 2px solid white;
    border-radius: 5px;

}
.overlay-link:hover{
    border: 2px solid white;
    border-radius: 5px;
    background-color: white;
    color: black;
}



@media all and (max-width: 800px) {
    .parent {
        justify-content: space-around;
    }

}

/* esta madre no se aplica bien */
@media all and (max-width: 500px) {
    .parent {
        flex-direction: column;
    }
}